APPLICATION_HOST=localhost:3000
SECRET_KEY_BASE=secret_key
DATABASE_URL=
DATABASE_POOL=5
DATABASE_REAPING_FREQUENCY=10
SMTP_DOMAIN=example.com
SMTP_ADDRESS=smtp.example.com
SMTP_PORT=587
SMTP_PASSWORD=password
SMTP_USERNAME=username
SMTP_DEFAULT_FROM=no-reply@example.com
CONSOLE_WHITELISTED_IPS=192.168.0.0/16
WEB_CONCURRENCY=2
RAILS_MAX_THREADS=2
SIDEKIQ_CONCURRENCY=10
SIDEKIQ_TIMEOUT=30
SIDEKIQ_QUEUES=default,high,mailers
