<section class="text-gray-600 body-font container px-5 py-24 mx-auto">
  <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:m-auto w-full mt-10 md:mt-0">
    <h2 class="text-gray-900 text-lg text-center font-medium title-font mb-4">Account created</h2>
    <div class="w-full bg-gray-200 my-3" style="height: 1px"></div>

    <div class="text-center pt-3">
      Check your email to complete your registration.
    </div>
  </div>
</section>
