.row
  .col-lg-offset-3.col-lg-6.col-md-offset-2.col-md-8
    .panel.panel-default.panel-registration
      .panel-heading
        %h3.panel-title
          %strong Registration
      .panel-body
        .text-center
          Check your email to complete your registration.
