.row.justify-content-md-center
  .col-lg-6.col-md-8
    .card.card-notification
      .card-header
        Registration
      .card-body
        .text-center
          Check your email to complete your registration.
