.row.justify-content-md-center
  .col-lg-6.col-md-8
    .card.card-notification
      .card-header
        Restore password
      .card-body
        .text-center
          Instructions have been sent to your email.
