.panel.panel-default.panel-authentication
  .panel-heading
    %h3.panel-title
      %strong Change Password
  .panel-body
    = render partial: 'shared/error_messages', locals: {object: @user}
    = form_for @user, url: reset_password_tokenized_path(@token), html: {method: :patch} do |f|
      .form-group
        .input-group
          %span.input-group-addon
            %i.glyphicon.glyphicon-lock
          = f.password_field :password, class: 'form-control', placeholder: 'Password'

      = f.submit 'Change Password', class: 'btn btn-default'
