<%= render PublicAccountActionComponent.new(title: 'Password reset') do %>
  <div class="text-center pt-3">
    Password reset instructions sent (if user with that email address exists).
  </div>
<% end %>
