- if object.errors.any?
  .alert.alert-danger
    %ul.list-unstyled
      - if object.errors.respond_to?(:full_messages)
        - object.errors.full_messages.each do |msg|
          %li= msg
      - else
        - object.errors.each do |msg|
          %li= msg
