<h1 class="font-semibold text-xl text-gray-700 pb-4">Documents</h1>

<div class="bg-white border border-solid border-gray-200 rounded-sm">
  <div class="p-4">
    <table class="w-full text-left table-auto min-w-max">
      <thead>
      <tr class="border-b border-slate-300 bg-slate-50">
        <th class="p-2 text-sm font-normal leading-none text-slate-500">ID</th>
        <th class="p-2 text-sm font-normal leading-none text-slate-500">Document</th>
        <th class="p-2 text-sm font-normal leading-none text-slate-500">Actions</th>
      </tr>
      </thead>
      <tbody id="admin_new_users">
      <% @documents.each do |document| %>
        <tr>
          <td class="p-2 border-b border-slate-200">
            <%= document.id %>
          </td>
          <td class="p-2 border-b border-slate-200">
            <div class="flex items-center">
              <%= image_tag document.file(:thumb).url, size: 50 %>
              <%= document.file.metadata['filename'] %>
            </div>
          </td>
          <td class="p-2 border-b border-slate-200">
          <%= link_to 'Download', download_document_path(document), class: 'text-indigo-600 hover:text-gray-900',
                      target: '_blank', data: { turbo_prefetch: false }%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
