body#sessions_controller, body#registration_controller, body#password_reset_controller {
  .card-authentication {
    margin: 40px auto 0;
    width: 400px;

    hr {
      margin: 10px 0;
    }
  }

  .card-notification {
    margin: 40px auto 0;
  }
}
