%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{href: '#', role: 'button', aria: {expanded: false, haspopup: 'true'}, data: {toggle: 'dropdown'}}
      = current_user.email
      %span.caret
    %ul.dropdown-menu
      %li
        = navigation_element 'Profile', root_path
      %li.divider{role: 'separator'}
      %li
        = navigation_element 'Logout', logout_path, method: :delete
